@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/iranyekanwebbold.eot");
    src: url("../fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanwebbold.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/eot/iranyekanwebthin.eot");
    src: url("../fonts/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanwebthin.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebthin.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/iranyekanweblight.eot");
    src: url("../fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanweblight.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanweblight.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/iranyekanwebregular.eot");
    src: url("../fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanwebregular.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/eot/iranyekanwebmedium.eot");
    src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanwebmedium.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebmedium.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/eot/iranyekanwebextrabold.eot");
    src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebextrabold.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/eot/iranyekanwebblack.eot");
    src: url("../fonts/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanwebblack.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebblack.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url("../fonts/eot/iranyekanwebextrablack.eot");
    src: url("../fonts/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff/iranyekanwebextrablack.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebextrablack.ttf") format("truetype");
}


/* fanum */

@font-face {
    font-family: iranyekanfanum;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/iranyekanwebbold(fanum).eot");
    src: url("../fonts/eot/iranyekanwebbold(fanum).eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff2/iranyekanwebbold(fanum).woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/iranyekanwebbold(fanum).woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebbold(fanum).ttf") format("truetype");
}

@font-face {
    font-family: iranyekanfanum;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/iranyekanweblight(fanum).eot");
    src: url("../fonts/eot/iranyekanweblight(fanum).eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff2/iranyekanweblight(fanum).woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/iranyekanweblight(fanum).woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanweblight(fanum).ttf") format("truetype");
}

@font-face {
    font-family: iranyekanfanum;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/iranyekanwebregular(fanum).eot");
    src: url("../fonts/eot/iranyekanwebregular(fanum).eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff2/iranyekanwebregular(fanum).woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/iranyekanwebregular(fanum).woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/iranyekanwebregular(fanum).ttf") format("truetype");
}


/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/robotobold.eot");
    src: url("../fonts/eot/robotobold.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff2/robotobold.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/robotobold.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/robotobold.ttf") format("truetype");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/robotolight.eot");
    src: url("../fonts/eot/robotolight.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff2/robotolight.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/robotolight.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/robotolight.ttf") format("truetype");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/robotoregular.eot");
    src: url("../fonts/eot/robotoregular.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("../fonts/woff2/robotoregular.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/robotoregular.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/robotoregular.ttf") format("truetype");
}

body,
html {
    font-family: iranyekan;
}

button,
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="email"],
textarea,
select,
.input-text {
    font-family: iranyekan;
}

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* header */

.wrapper-header {
    z-index: 999;
    position: fixed;
    padding: 0.5rem;
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: #fff;
    top: 0;
}

.logo-header-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.button-register-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.logo-header-wrapper {
    float: right;
}

.logo-header {
    width: 8rem;
    vertical-align: middle;
}

.button-register-wrapper {
    float: left;
    padding: 0.9rem;
}

.button-register {
    border-style: none;
    cursor: pointer;
    padding: 0.7rem 1rem;
    color: #fff;
    background-color: #dc3755;
    border-color: #dc3755;
    border-radius: 50rem;
    font-size: 13px;
    font-weight: 800;
    line-height: 1.5;
}

.button-register:hover {
    background-color: #c92341;
    border-color: #bf213e;
}


/* main */

.main-slider {
    width: 70%;
    margin: auto;
    margin-top: 8rem;
}

.div-text {
    width: 70%;
    margin: auto;
}

.div-text-p {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 1rem;
    line-height: 1.5;
    color: #3e3e3e;
    margin: 3rem 11.5rem 1rem 11.5rem;
}

.wrapper-video video {
	width: 450px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.why-basalam {
    padding: 4.5rem 1.5rem;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper-heading h2 {
    font-size: 28px;
    font-weight: 700;
    color: #ec5101;
    margin-bottom: 2.5rem;
}

.wrapper-esotops {
    width: 73%;
}

.parent-esotop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.eco-esotop {
    width: calc((100% - 46px) / 3);
    text-align: center;
    margin: 0px 7.5px 30px 7.5px;
}

.inner-eco-esotop {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 0 0 10px 0;
}

.esotop-h3 {
    font-size: 18px;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 8px;
}

.esotop-p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #3e3e3e;
    line-height: 1.5;
}

.sales-steps {
    text-align: center;
    margin: 3rem;
}

.wrapper-img-sales-steps {
    margin: 40px auto 0 auto;
}

.img-sales-steps {
    width: 80%;
}

.eco-img-sales-steps {
    display: none;
}

.parent-heading h2 {
    font-size: 28px;
    font-weight: 700;
    color: #3e3e3e;
    margin-bottom: 2.5rem;
}

.wrapper-free-support {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.free-support {
    margin: 4.5rem 1.5rem;
    margin-top: 9.5rem;
}

.free-support-text {
    width: 50%;
}

.wrapper-free-support-img {
    width: 50%;
    text-align: center;
}

.free-support-img {
    width: 75%;
}

.free-support-p {
    font-size: 17px;
    color: #7d7d7d;
    line-height: 1.6;
    font-weight: normal;
    text-align: right;
}

.wrapper-accordion {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 4.5rem 1.5rem;
}

.wrapper-start {
    text-align: center;
    padding: 4.5rem 1.5rem;
}

.start-p {
    width: 43.2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: #7d7d7d;
    font-size: 1.125rem;
    line-height: 1.6;
    overflow: auto;
    text-align: right;
}

.eco-button-header {
    padding: 14px 24px;
    font-size: 20px;
    font-weight: 600;
}

.eco-swiper-slide img {
    width: 100%;
}

.eco-swiper-button-next,
.eco-swiper-button-prev {
    background-color: hsla(0, 0%, 100%, .75);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #000;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 39.5px;
    font-weight: 800;
}


/* accordion */

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    text-align: right;
    font-size: 15px;
    transition: 0.8s;
    border: 1px solid #dfdfdf;
    border-radius: .3125rem;
    margin-bottom: .5rem;
}

div.eco-accordion::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
}


/* .active,
.accordion:hover {
  background-color: #ccc;
} */

.panel {
    background-color: white;
    color: #7d7d7d;
    text-align: right;
    display: none;
    overflow: hidden;
    margin: 10px auto;
}


/* responsive */

.wrapper-heading h2 {
    font-size: 28px;
    font-weight: 700;
    color: #ef4f02;
    margin-bottom: 2.5rem;
}

.start-p img {
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

@media (max-width: 576px) {
    .wrapper-video video {
        width: 80%;
    }
    .button-register-wrapper {
        padding: 0.5rem;
    }
    .button-register {
        padding: 0.5rem .8rem;
        font-size: 13px;
    }
    .logo-header {
        width: 6rem;
    }
    .accordion {
        font-size: 13px;
    }
    .main-slider {
        width: 100%;
        margin-top: 6rem;
    }
    .eco-esotop {
        width: 100%;
    }
    .eco-swiper-button-next,
    .eco-swiper-button-prev {
        width: 29px;
        height: 29px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 24.5px;
    }
    .div-text {
        width: 90%;
    }
    .div-text-p {
        font-size: 13px;
        margin: 1.5rem 0rem 0rem 0rem;
    }
    .why-basalam {
        padding: 2rem 1.5rem;
    }
    .wrapper-heading h2 {
        font-size: 16px;
    }
    .eco-wrapper-heading h2 {
        font-size: 16px;
    }
    .sales-steps {
        text-align: center;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
    }
    .wrapper-heading {
        width: 100%;
        text-align: center;
    }
    .eco-wrapper-heading {
        margin: auto 0;
        width: 100%;
    }
    .wrapper-img-sales-steps {
        margin: 0 auto;
        width: 88%;
    }
    .wrapper-esotops {
        width: 80%;
    }
    .esotop-h3 {
        font-size: 15px;
    }
    .esotop-p {
        font-size: 13px;
    }
    .img-sales-steps {
        display: none;
    }
    .eco-img-sales-steps {
        display: block;
        width: 84%;
        margin: 0 auto;
    }
    .wrapper-free-support {
        width: 100%;
        flex-flow: row wrap;
    }
    .parent-heading h2 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 19px;
    }
    .free-support-p {
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
    }
    .free-support-img {
        width: 100%;
        margin-top: 2rem;
    }
    .free-support-text {
        width: 100%;
    }
    .wrapper-free-support-img {
        text-align: center;
        width: 100%;
    }
    .wrapper-accordion {
        width: 100%;
        padding: 0 1.5rem;
    }
    .eco-button-header {
        font-size: 16px;
    }
    .start-p {
        width: 100%;
        margin-bottom: 1.9rem;
        font-size: 13px;
        line-height: 1.5;
    }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
    .wrapper-video video {
        width: 80%;
    }
    .button-register-wrapper {
        padding: 0.5rem;
    }
    .button-register {
        padding: 0.5rem .8rem;
        font-size: 12px;
    }
    .main-slider {
        width: 100%;
    }
    .eco-esotop {
        width: calc((100% - 46px) / 2);
    }
    .eco-swiper-button-next,
    .eco-swiper-button-prev {
        width: 38px;
        height: 38px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 33.5px;
    }
    .div-text {
        width: 90%;
    }
    .div-text-p {
        font-size: 15px;
        margin: 3rem 0rem 1rem 0rem;
    }
    .wrapper-heading h2 {
        font-size: 16px;
    }
    .eco-wrapper-heading h2 {
        font-size: 16px;
    }
    .sales-steps {
        text-align: center;
        margin: 0;
        display: flex;
    }
    .wrapper-heading {
        width: 100%;
        text-align: center;
    }
    .eco-wrapper-heading {
        margin: auto 0;
        width: 45%;
    }
    .wrapper-img-sales-steps {
        margin: 0;
        width: 50%;
    }
    .wrapper-esotops {
        width: 100%;
    }
    .esotop-h3 {
        font-size: 17px;
    }
    .esotop-p {
        font-size: 14px;
    }
    .img-sales-steps {
        display: none;
    }
    .eco-img-sales-steps {
        display: block;
        width: 84%;
    }
    .wrapper-free-support {
        width: 100%;
        flex-flow: row wrap;
    }
    .parent-heading h2 {
        font-size: 18px;
        text-align: center;
    }
    .free-support-p {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }
    .free-support-img {
        width: 55%;
        margin-top: 2rem;
    }
    .free-support-text {
        width: 100%;
    }
    .wrapper-free-support-img {
        text-align: center;
        width: 100%;
    }
    .wrapper-accordion {
        width: 100%;
        padding: 0 1.5rem;
    }
    .eco-button-header {
        font-size: 16px;
    }
    .start-p {
        width: 33.2rem;
        margin-bottom: 2rem;
        font-size: 14px;
        line-height: 1.5;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .button-register-wrapper {
        padding: 0.6rem;
    }
    .button-register {
        padding: 0.8rem 1rem;
        font-size: 14px;
    }
    .main-slider {
        width: 100%;
    }
    .eco-swiper-button-next,
    .eco-swiper-button-prev {
        width: 38px;
        height: 38px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 33.5px;
    }
    .div-text {
        width: 90%;
    }
    .div-text-p {
        font-size: 15px;
        margin: 3rem 0rem 1rem 0rem;
    }
    .wrapper-heading h2 {
        font-size: 26px;
    }
    .wrapper-esotops {
        width: 100%;
    }
    .esotop-h3 {
        font-size: 17px;
    }
    .esotop-p {
        font-size: 14px;
    }
    .img-sales-steps {
        width: 100%;
    }
    .wrapper-free-support {
        width: 100%;
    }
    .parent-heading h2 {
        font-size: 26px;
    }
    .free-support-p {
        font-size: 16px;
        line-height: 1.5;
    }
    .free-support-img {
        width: 80%;
    }
    .free-support-text {
        width: 80%;
    }
    .wrapper-free-support-img {
        text-align: left;
    }
    .wrapper-accordion {
        width: 100%;
    }
    .eco-button-header {
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-slider {
        width: 100%;
    }
    .eco-swiper-button-next,
    .eco-swiper-button-prev {
        width: 38px;
        height: 38px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 33.5px;
    }
    .div-text {
        width: 90%;
    }
    .div-text-p {
        font-size: 15px;
        margin: 3rem 0rem 1rem 0rem;
    }
    .wrapper-heading h2 {
        font-size: 26px;
    }
    .wrapper-esotops {
        width: 100%;
    }
    .esotop-h3 {
        font-size: 17px;
    }
    .esotop-p {
        font-size: 14px;
    }
    .img-sales-steps {
        width: 100%;
    }
    .wrapper-free-support {
        width: 90%;
    }
    .parent-heading h2 {
        font-size: 26px;
    }
    .free-support-p {
        font-size: 16px;
        line-height: 1.5;
    }
    .free-support-img {
        width: 80%;
    }
    .free-support-text {
        width: 80%;
    }
    .wrapper-free-support-img {
        text-align: left;
    }
    .wrapper-accordion {
        width: 100%;
    }
    .eco-button-header {
        font-size: 18px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {}